{% extends 'base.html.twig' %}

{% block title %}
  Taunt.io - La Team
{% endblock %}

{% block body %}
<div id="wrapper">
  <div id="container">
    <h3 class="text-center">Touche &agrave; un membre de ma clique.</h3>
    <h3 class="text-center">Allez, clique !</h3>
  </div>
  <div id="results">
    <ul class="user-list no-padding">
      <li>
        <div class="user-card inline-block" style="background: url('https://scontent-cdg2-1.xx.fbcdn.net/hphotos-xat1/v/t1.0-9/11109593_10152725844137665_5640824078952451214_n.jpg?oh=29b81ffcc333c399676e327382724d4f&oe=56F656BC');">
          <div class="user-name">
            <p class="text-center">Thomas Pariente</p>
          </div>
        </div>
      </li>
      <li>
        <div class="user-card inline-block" style="background: url('https://scontent-cdg2-1.xx.fbcdn.net/hphotos-xap1/t31.0-8/1399729_595585447164192_1616988531_o.jpg');">
          <div class="user-name">
            <p class="text-center">Louis Dian&eacute;</p>
          </div>
        </div>
      </li>
      <li>
        <div class="user-card inline-block" style="background: url('https://scontent-cdg2-1.xx.fbcdn.net/hphotos-ash2/t31.0-8/10506788_10204217485136123_3273760343367300378_o.jpg');">
          <div class="user-name">
            <p class="text-center">Antoine Langlet</p>
          </div>
        </div>
      </li>
      <li>
        <div class="user-card inline-block" style="background: url('https://scontent-cdg2-1.xx.fbcdn.net/hphotos-prn2/v/t1.0-9/10301950_1537776719790832_6015855558377674114_n.jpg?oh=ccf246231d523a48a02c420c64fe5d5a&oe=56EDAD5B');">
          <div class="user-name">
            <p class="text-center">R&eacute;mi Lopes</p>
          </div>
        </div>
      </li>
      <li>
        <div class="user-card inline-block" style="background: url('https://scontent-cdg2-1.xx.fbcdn.net/hphotos-prn2/v/l/t1.0-9/10154187_10152414530419238_3728168172580728077_n.jpg?oh=9ad9df312f0e7fc4b8f79d3db48eb1f5&oe=56DAB7F2');">
          <div class="user-name">
            <p class="text-center">Sacha Malka</p>
          </div>
        </div>
      </li>
      <li>
        <div class="user-card inline-block" style="background: url('https://scontent-cdg2-1.xx.fbcdn.net/hphotos-xtf1/t31.0-8/10321720_10153217928958763_3063772145268313104_o.jpg');">
          <div class="user-name">
            <p class="text-center">Pierre Lange</p>
          </div>
        </div>
      </li>
      <li>
        <div class="user-card inline-block" style="background: url('https://scontent-cdg2-1.xx.fbcdn.net/hphotos-xta1/t31.0-8/12188196_10205452155287936_3238639427540291661_o.jpg');">
          <div class="user-name">
            <p class="text-center">Midou Henni</p>
          </div>
        </div>
      </li>
      <li>
        <div class="user-card inline-block" style="background: url('https://media.licdn.com/media/AAEAAQAAAAAAAAOvAAAAJDQ4N2RlMzQ2LWNkMTItNDQ4Yy1hOGFmLWEzYzIwZTJlM2Q5NA.jpg');">
          <div class="user-name">
            <p class="text-center">M. Sondage</p>
          </div>
        </div>
      </li>
    </ul>
  </div>
  <div class="footer">
    <p><a href="{{ path('team') }}">La Taunt Team</a></p>
  </div>
  </div>
</div>
{% endblock %}

{% block javascripts %}
{% endblock %}
